// .bg-full {
//   background-image: url(~assets/images/background.png);
// }
.bg-main {
  background: radial-gradient(50% 50% at 50% 50%, #497333 0%, #1A451D 100%);
}
.bg-logo {
  background-image: url(~assets/images/bg-logo.png);
  position: absolute;
  width: 238px;
  height: 57px;
  left: 40px;
  top: 27px;
}
.bg-poker1 {
  background-image: url(~assets/images/bg-poker1.png);
  position: absolute;
  width: 616px;
  height: 329px;
  left: 0px;
  bottom:0px;
}
.bg-poker2 {
  background-image: url(~assets/images/bg-poker2.png);
  position: absolute;
  width: 536px;
  height: 310px;
  right: 0px;
  top: 0px;  
}
.bg-chips1 {
  background-image: url(~assets/images/bg-chips1.png);
  position: absolute;
  width: 95px;
  height: 69px;
  left: 47px;
  top: 307px;  
}
.bg-chips2 {
  background-image: url(~assets/images/bg-chips2.png);
  position: absolute;
  width: 88px;
  height: 74px;
  left: 50%;
  top: 47px; 
}
.bg-chips3 {
  background-image: url(~assets/images/bg-chips3.png);
  position: absolute;
  width: 112px;
  height: 115px;
  left: 53%;
  bottom: 5%; 
}
.bg-chips4 {
  background-image: url(~assets/images/bg-chips4.png);
  position: absolute;
  width: 202px;
  height: 222px;
  left: 53%;
  bottom: 5%; 
}
.bg-chips5 { 
  background-image: url(~assets/images/bg-chips5.png);
  position: absolute;
  width: 269px;
  height: 277px;
  left: 53%;
  bottom: 5%; 
} 
.bg-chips6 {
  background-image: url(~assets/images/bg-chips6.png);
  position: absolute;
  width: 250px;
  height: 299px;
  right: 7%;
  bottom: 1.5%; 
  z-index: 1050;
}
.bg-dice {
  background-image: url(~assets/images/bg-dice1.png);
  position: absolute;
  width: 147px;
  height: 142px;
  right: 2%;
  top: 50%; 
}
.bg-test-process {
  background-image: url(~assets/images/bg-test-process.png);
  position: absolute;
  width: 890px;
  height: 401px;
  left: 18%;
  top: 45%; 
}
.bg-coin1 {
  background-image: url(~assets/images/bg-coin1.png);
  position: absolute;
  width: 83px;
  height: 51px;
  left: 47px;
  top: 307px;  
}
.bg-coin2 {
  background-image: url(~assets/images/bg-coin2.png);
  position: absolute;
  width: 46px;
  height: 42px;
  left: 40%;
  top: 47px; 
}
.bg-coin3 {
  background-image: url(~assets/images/bg-coin3.png);
  position: absolute;
  width: 60px;
  height: 42px;
  left: 60%;
  top: 100px;  
}
.bg-coin4 {
  background-image: url(~assets/images/bg-coin4.png);
  position: absolute;
  width: 93px;
  height: 98px;
  left: 53%;
  bottom: 15%;  
}
.bg-coin5 {
  background-image: url(~assets/images/bg-coin5.png);
  position: absolute;
  width: 56px;
  height: 51px;
  right: 2%;
  top: 50%;  
}